.app {
  display: flex;
  font-family: var(--font-family);
}

.content {
  width: 88%;
  margin-left: 12%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo);
}

.section-content {
  text-align: center;
  padding: 20px;
}
