* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primario: #222831;
  --color-secundario: #393E46;
  --color-fondo: #EEEEEE;
  --color-acento: #00ADB5;
  --font-family: "Kay Pho Du", sans-serif;
  --font-size-base: 16px;
  --espacios-1: 2.5rem 4rem;
  --espacios-2: 1rem 2rem;
}

