/* Reseteo de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables para una paleta de colores y tipografía */
:root {
  --primary-color: #2c3e50;
  --secondary-color: #ecf0f1;
  --accent-color: #f45b0f;
  --font-family: "Raleway";
  --font-size-base: 16px;
  --espacios-1: 2.5rem 4rem;
  --espacios-2: 1rem 2rem;
}

/* Estilos globales */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

/* Responsive typography */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
