.navbar-fijo {
  position: fixed; /* Navbar permanece fijo al hacer scroll */
  bottom: 0; /* Fijado en la parte inferior */
  width: 100%; /* Ancho completo de la pantalla */
  background-color: transparent; /* Fondo oscuro */
  display: flex;
  justify-content: space-around; /* Distribuye los elementos equitativamente */
  align-items: center; /* Centra verticalmente los elementos */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  padding: var(--espacios-2);
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--secondary-color) 80%;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.navbar-image {
  width: 24px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

.navbar-fijo a:hover {
  background-color: var(--accent-color); /* Fondo rojo al hacer hover */
  color: var(
    --secondary-color
  ); /* Asegurarse de que el texto siga siendo blanco */
  border-radius: 8px; /* Bordes redondeados al hacer hover */
}

@media (min-width: 1200px) {
  .navbar-fijo {
    padding: var(--espacios-1);
  }

nav a {
  font-size: 1.2rem;
}

}
